body, button, input, select, textarea {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.65;
}
.site-title {
  display: none;
}
.site-description {
  text-align: center;
  font-weight: bold;
  color: #0e0e0e;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/*This sets all customizable links to have an underline*/
.customisable,
.customisable:link,
.customisable:visited {
  text-decoration: underline;
}

@media screen and (min-width: 44.375em){
  .site-header {
      padding: 1.5em 7.6923%;
  }
}
@media screen and (min-width: 61.5625em) {
  .site-header {
      padding: 1.5em 4.5455%;
  }
}
