body, button, input, select, textarea {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.65;
}
.site-title {
  display: none;
}
.site-description {
  text-align: center;
  font-weight: bold;
  color: #0e0e0e;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  display: inline-block !important;
  width: 100% !important;
}

/*Changes site inner dimensions*/
.site-inner {
    margin: 0 auto;
    max-width: 100%;
    position: relative;
}

/*/////////////////////////////////
Header
////////////////////////////////*/
.site-header {
  background: linear-gradient(to right, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(https://2017.lancasterpa.wordcamp.org/files/2017/01/woods-2000x1333.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
  max-height: 600px;
}

.site-branding { margin: 90px auto; }

#site-header-menu {
  background: #000;
  width: 100%;
  padding: 10px 0;
  left: 0;
  bottom: -50px;
  position: relative  
}

ul#menu-topnav li a { color: #fff; }

ul#menu-topnav li ul.sub-menu li a { color: #000; }

.site-description { color: #fff !important; }

/*This can be removed if we take out the header image in the admin of WP*/
.header-image { display: none; }

@media screen and (min-width: 61.5625em) {
  .site-header {
    padding: 80px 0 !important;
  }
}

.main-navigation { text-align: center; }

.entry-content a,
.entry-summary a,
.taxonomy-description a,
.logged-in-as a,
.comment-content a,
.pingback .comment-body > a,
.textwidget a,
.entry-footer a:hover,
.site-info a:hover {
  box-shadow: none !important;
}

@media screen and (min-width: 56.875em) {
  .main-navigation {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 100%;
  }

  .main-navigation .primary-menu > li {
    float: none !important;
    display: inline-block;
  }

  .site-content {
    padding: 0 4.5455%;
    margin: 0 auto;
    max-width: 1320px;
    position: relative;
  }
}

@media screen and (min-width: 710px) and (max-width: 909px) {
  .site-branding {
    margin: 0 auto;
  }
  button#menu-toggle {
    border: none;
    margin: 0 auto;
    display: block;
    background: #000000;
    width: 100%;
    padding: 21px 0;
    position: relative;
    top: 34px;
    z-index: 9999;
    left: 0;
    color: #fff;
    border-radius: 0 !important;;
  }

  .site-header { 
    margin-bottom: 3.75em;
    padding: 1.5em 0 0 !important;
    height: 360px !important;
  }

  #site-header-menu {
    background: #000;
    width: 100%;
    margin: 3.3125em 0;
    text-align: center;
    padding: 5px 0;
    position: relative;
    top: -20px;
    z-index: 9999;
    left: 0;
  }

  .main-navigation li { border-color: rgba(255, 255, 255, 0.2) !important; }
  .main-navigation .primary-menu { border: none; }
  .main-navigation .menu-item-has-children > a { margin-right: 0 !important; }
  ul#menu-topnav li ul.sub-menu li a, .dropdown-toggle { color: #fff !important; }
  ul.sub-menu.toggled-on { 
    background: #222;
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 709px) {
  .site-branding {
    margin: 0 auto;
  }
  button#menu-toggle {
    border: none;
    margin: 0 auto;
    display: block;
    background: #000000;
    width: 100%;
    padding: 21px 0;
    position: relative;
    top: 45px;
    z-index: 9999;
    left: 0;
    color: #fff;
    border-radius: 0 !important;
  }
  
  .site-header {
    padding: 2.625em 0 !important;
    margin-bottom: 3.75em;
    height: 360px !important;    
  }

  #site-header-menu {
    background: #000;
    width: 100%;
    margin: 3.3125em 0;
    text-align: center;
    padding: 5px 0;
    position: relative;
    top: -20px;
    z-index: 9999;
    left: 0;
  }

  .main-navigation li { border-color: rgba(255, 255, 255, 0.2) !important; }
  .main-navigation .primary-menu { border: none; }
  .main-navigation .menu-item-has-children > a { margin-right: 0 !important; }
  ul#menu-topnav li ul.sub-menu li a, .dropdown-toggle { color: #fff !important; }
  ul.sub-menu.toggled-on { 
    background: #222;
    margin-left: 0 !important;
  }
}

@media screen and (min-width: 44.375em) {
  .site-header {
    padding: 1.5em 0 !important;
    margin-bottom: 4.75em;
    height: 570px;
  }
}

.site {
  margin: 21px !important;
}

.dropdown-toggle.toggled-on:after { 
  background: #000;
  width: 37px;
}

body.custom-background { background-color: #000 !important; }

/*This sets all customizable links to have an underline*/
.customisable,
.customisable:link,
.customisable:visited {
  text-decoration: underline !important;
}

@media screen and (min-width: 61.5625em) {
  .site-header {
    padding: 1.5em 0 !important;
    margin-bottom: 7.75em;
  }
}

.entry-content a,
.widget a {
    text-decoration: underline;
}

a.lanc-btn {
  display: block;
  background: #fff;
  color: #000;
  text-align: center;
  text-decoration: none;
  margin-bottom: 20px;
  padding: 20px 0;
  border: 3px solid #000;
  font-size: 1.35em;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  font-weight: 600;
}

a.lanc-btn:hover,
a.lanc-btn:focus,
a.lanc-btn:active {
  background: #000;
  color: #fff;
}
